@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

.movie-bg-s {
  position: fixed;
  pointer-events: none;
  -webkit-animation: movie 1s steps(4) infinite;
  animation: movie 1s steps(4) infinite;
  background-image: url("./../../public/noise.png");
  height: 150%;
  left: -50%;
  top: -50%;
  width: 150%;
  z-index: 99;
  animation: movie 1s infinite ease-in-out;
}

.movie-bg {
  position: fixed;
  pointer-events: none;
  -webkit-animation: movie 1s steps(4) infinite;
  animation: movie 1s steps(4) infinite;
  background-image: url("./../../public/noise.png");
  height: 150%;
  left: -50%;
  top: -50%;
  transform: scale(2);
  width: 150%;
  z-index: 99;
  animation: movie 1s infinite ease-in-out;
}

@keyframes movie {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

video {
  opacity: 1;
}
